<% @page_title = "Bye Bye Admin User: #{@admin_user.name}" -%>

<%= link_to("<< Back to List", {:action => 'list'}, :class => 'back-link') %>

<div class="user delete">
	<h2>Delete Admin</h2>
	
	<%= form_for(:admin_user, :url => {:action => 'destroy', :id => @admin_user.id}) do |f| -%>
		
		<p>Are you sure you want to delete this user?</p>	
		
		<p class="reference-name"><%= @admin_user.name %>
		
		<div class="form-buttons">
			<%= submit_tag("Bye Bye Admin User!!!") %>	
		</div>
		
	<% end %>