/* Public stylesheet */


html { height: 100%; width: 100%; }
body { width: 100%; min-width: 980px; height: 100%; margin: 0; padding: 0; 
  font: 14px Verdana,Lucida,Arial,Helvetica,sans-serif; color: black; }
p, td, ul, ol, li, dl, dt, dd { 
  font-family: Verdana,Lucida,Arial,Helvetica,sans-serif; }
img { border: none; }
table { border-collapse: collapse; }
table tr th, table tr td { vertical-align: top; text-align: left; 
  padding: 3px; }
a, a:visited { color: turquoise; }
a:hover {}

.clear { clear: both; }
.center { text-align: center; }

/* Structure */
#header { height: 4em; padding-top: 1em; text-align: center; color: white; background-image: url(bg6.jpg)}
#header h1 { margin: 0; padding: 0; }
#main { min-height: 500px; background: white; border:;}
#navigation { float: left; width: 140px; min-height: 480px; padding: 10px; 
  background: blue; color: white; background-image: url(bg7.jpg)}
#navigation_2 { float: right; width: 140px; min-height: 480px; padding: 10px; 
  background: blue; color: white; background-image: url(bg7.jpg)}
#content { float: left; padding: 10px; text-align: center; list-style:none}
#footer { clear: both; height: 2.5em; text-align: center; color: white; background-image: url(footer.jpg) }
#footer p { margin: 0; padding: 0.5em 1em; }

/* Navigation */
#navigation ul { list-style: none; margin: 0; padding: 0; }
#navigation ul li { margin-bottom: 0.5em; }
#navigation ul ul { margin: 0.5em 0 0 1em; font-size: 0.9em; }
#navigation a { text-decoration: none; padding: 1px 3px;}
#navigation a:hover { background: green; }

/* Content */
#content h2 { color: black; }

.round {
    -moz-border-radius:         10px;
    -webkit-border-radius:      10px;
    border-radius:              10px;

}



.menu .identity { text-align: center; background-image: url(footer.jpg); color:white;
	-moz-border-radius:         10px;
    -webkit-border-radius:      10px;
    border-radius:              10px;
	padding: 10px;
	padding-left: 150px;
	padding-right: 150px;
	margin-left: 100px;
	
	 }
	 
	 
 .menu ul {margin-left: 35px;list-style: none;}
.menu ul li { margin-bottom: 1em; }
.menu a {background-image: url(footer.jpg); color:white; 
			-moz-border-radius:         10px;
   			 -webkit-border-radius:      10px;
 		   border-radius:              10px;
 		   padding: 5px;
}
	